* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #0f1724;
  color: white;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 8%;
}

.logo {
  font-size: 24px;
  font-weight: 700;
}

.logo span {
  color: #39ff14;
}

nav a {
  color: #ccc;
  text-decoration: none;
  margin-left: 30px;
  font-weight: 500;
}

nav a.active,
nav a:hover {
  color: #39ff14;
}

/* HERO SECTION */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 8%;
}

/* TEXT */
.text {
  max-width: 520px;
}

.text h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.text h2 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 20px;
}

.text h2 span {
  color: #39ff14;
}

.text p {
  color: #aaa;
  line-height: 1.6;
  margin-bottom: 30px;
}

/* BUTTONS */
.buttons {
  display: flex;
  align-items: center;
}

.btn {
  background: #39ff14;
  color: #000;
  padding: 12px 28px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  margin-right: 20px;
}

.social i {
  color: #39ff14;
  border: 1px solid #39ff14;
  width: 38px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.social i:hover {
  background: #39ff14;
  color: #000;
}

/* IMAGE + 3D CIRCLE */
.image {
  position: relative;
}

.circle {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  border: 3px solid #39ff14;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 25px #39ff14;
}

.circle img {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  object-fit: cover;
}